{##
 # This is the [:VIM_EVAL:]expand('%:p:t:r')[:END_EVAL:] field type template.
 #
 # It is used for ...
 ##}
<div class='form-group'>
    <label class='[:VIM_EVAL:]expand('%:p:t:r')[:END_EVAL:]'><input type='checkbox' name='node[{{ key }}]' value='1'{% if node[key] %} checked{% endif %} autocomplete='off'/> {{ field.label }}</label>
    {% if field.help %}
        <p class='help-block'>{{ field.help|raw }}</p>
    {% endif %}
</div>
