{##
 # This is a dummy template.
 # Please expand it.
 #}
{% extends 'layouts/base.twig' %}

{% block page_title %}It Works!{% endblock %}

{% block page_header %}
    <div class='page-header'>
        <h1>It Works!</h1>
    </div>
{% endblock %}

{% block page_contents %}
    <p>This page does not exist yet.</p>
{% endblock %}
