{% extends "layouts/base.twig" %}

{% block page_title %}Добавление документа{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Создание документа</h1>
    </div>
{% endblock %}

{% block page_contents %}
    {% include 'parts/admin-breadcrumbs.twig' with {'path': [{
        'label': 'Список документов',
        'link': '/admin/nodes',
    }, {
        'label': 'Новый документ',
        'link': request.get.path,
    }]} %}

    <p>Выбери тип создаваемого документа:</p>

    <ul>
        {% for t in types %}
            <li><a href='/admin/submit/{{ t.name }}'>{{ t.label }}</a>{% if t.description %}: {{ t.description }}{% endif %}.</li>
        {% endfor %}
    </ul>
{% endblock %}
