.wiki-section-edit {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    color: #000;
    opacity: 0.6;
    white-space: nowrap;
}
.wiki-section-edit a {
}

ul.wiki_buttons {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
ul.wiki_buttons li {
    margin: 0 5px;
    display: inline-block;
}
ul.wiki_buttons a {
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    margin: 0;
}


#toc {
    border: solid 1px #ccc;
    margin: 10px 0;
    padding: 0 10px 10px;
    font-size: 14px;
    background-color: #fff;
    display: inline-block;
}
#toc h2 {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    border: none;
    margin: .5em 0;
}
#toc ol,
#toc ul {
    list-style-type: decimal;
    margin: 0;
    padding: 0 0 0 1em;
}
#toc li {
    margin: 0 0 .25em;
}
