/**
 * Wiki page editor.
 **/

.wiki_edit > main {
    border: none;
}
.wiki_edit > main > .container {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.wikiedit .toolbar {
    background-color: rgba(0, 0, 0, 0.75);
    color: #ccc;
    padding: 5px 10px;
}

.wikiedit .toolbar .btn {
    background-color: transparent;
    color: #ccc;
    border: none;
    outline: none;
}
.wikiedit .toolbar .btn:hover,
.wikiedit .toolbar .btn.active {
    background-color: #000;
}

.wikiedit > .editor {
    height: calc(100vh - 40px);
    display: flex;
}

.wikiedit aside {
    max-width: 500px;
}
.wikiedit .files {
    width: 300px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wikiedit .search {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: 30px;
}
.wikiedit .search > * {
    border: none;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
}
.wikiedit .fsearch {
    width: calc(100% - 40px);
    padding: 0 10px;
}
.wikiedit label.upload {
    width: 40px;
    text-align: center;
}

.wiki_edit .tiles {
    flex-grow: 1;
    overflow: hidden;
    overflow-y: scroll;
}
.wiki_edit .tiles .wrap {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}
.wiki_edit .tiles a {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    box-shadow: none;
}
.wiki_edit .tiles img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background-color: #eee;
}

.wiki_edit textarea.wiki {
    border: none;
    margin: 0;
    height: 100%;
}

.wiki_edit .fileinfo {
    width: 300px;
    padding: 10px;
}
.wiki_edit .fileinfo img {
    width: 100%;
    margin: 0 0 10px;
}
